<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<title>About</title>
</head>
<body>
	<h1>Willy Wonka</h1>
	<p>
		My name is Willy Wonka and I am the owner of the Chocolate Factory. I am a tall, slender man, with brown hair who usually wears a plum colored overcoat that goes down to my knees over a black shirt with a W-shaped pin, a tall, black hat and golden chain (which seemed to be for a pocket watch). I was born from my mother on an unknown date, I was forbidden to eat any candy, because my father, Wilbur Wonka is a dentist who hates candy, especially chocolate. So, I left my home. But when I came back, my father was no longer there, and I was orphaned.
	</p>
	<img class="img1" src="/images/69af520bfaac90f6c9feeb5e3ffae633.jpeg" alt="">	
</body>
</html>